# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
csv_file = os.path.join('..', 'output_data', 'cities.csv')

cities_df = pd.read_csv(csv_file)
cities_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,4030556,Rikitea,PF,-134.9692,-23.1203,81.79,70,7,4.79
1,3443061,Chui,UY,-53.4616,-33.6971,63.48,81,0,5.21
2,5122534,Jamestown,US,-79.2353,42.0970,24.66,58,1,11.68
3,2155415,New Norfolk,AU,147.0587,-42.7826,66.16,44,41,4.00
4,2075265,Busselton,AU,115.3333,-33.6500,70.86,48,0,10.00
...,...,...,...,...,...,...,...,...,...
556,3175096,Laas,IT,10.7002,46.6166,28.56,100,90,3.44
557,4705086,Lamar,US,-95.5836,33.6668,52.93,100,1,8.05
558,2122293,Ozernovskiy,RU,156.5167,51.5000,35.82,72,0,4.21
559,2445553,Dogondoutchi,NE,4.0287,13.6393,80.49,22,0,8.77
560,4026082,Lázaro Cárdenas,MX,-102.2000,17.9583,74.34,83,31,1.45

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [8]:
locations = cities_df[['Latitude', 'Longitude']]
humidity = cities_df['Humidity']

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
ideal_df = city_df[(city_df['Temperature'] >= 75) & (city_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,4030556,Rikitea,PF,-134.9692,-23.1203,81.79,70,7,4.79
9,4020109,Atuona,PF,-139.0333,-9.8000,80.38,65,1,9.84
62,1649150,Bengkulu,ID,102.2655,-3.8004,84.07,68,7,2.37
99,2454268,Koutiala,ML,-5.4642,12.3917,75.67,18,0,7.70
105,1267390,Kavaratti,IN,72.6420,10.5669,82.74,67,2,5.26
107,2446796,Bilma,NE,12.9164,18.6853,76.69,14,0,9.86
118,1640354,Kencong,ID,113.3667,-8.2833,84.25,70,1,2.28
151,1263744,Mangrūl Pīr,IN,77.3500,20.3167,76.89,23,0,7.36
186,2355404,Solenzo,BF,-4.0833,12.1833,76.41,16,1,6.02
192,3932145,Pisco,PE,-76.2167,-13.7000,77.00,65,0,5.75
212,2138592,Pouembout,NC,164.9000,-21.1333,85.14,61,9,8.05
214,2087894,Rabaul,PG,152.1721,-4.1967,82.98,68,2,7.92
215,2074865,Carnarvon,AU,113.6333,-24.8667,86.00,62,0,4.61
219,1254046,Tura,IN,90.2201,25.5198,79.88,33,0,1.88
256,1296736,Shwebo,MM,95.7000,22.5667,81.36,27,0,2.30
267,286245,Sur,OM,59.5289,22.5667,75.00,45,0,6.71
315,4013679,Coahuayana Viejo,MX,-103.6833,18.7333,77.00,69,1,1.14
348,3437935,Itacurubí del Rosario,PY,-56.6833,-24.5000,77.31,45,0,2.42
409,1648186,Bontang,ID,117.5000,0.1333,84.47,66,0,5.17
460,1295765,Sittwe,MM,92.9000,20.1500,75.74,41,0,5.17
520,1586350,Cam Ranh,VN,109.1591,11.9214,80.60,57,0,6.91
522,3837213,San Juan,AR,-68.5364,-31.5375,75.96,57,4,9.24
559,2445553,Dogondoutchi,NE,4.0287,13.6393,80.49,22,0,8.77

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df['Hotel Name'] = ''
hotel_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
0,4030556,Rikitea,PF,-134.9692,-23.1203,81.79,70,7,4.79,
9,4020109,Atuona,PF,-139.0333,-9.8000,80.38,65,1,9.84,
62,1649150,Bengkulu,ID,102.2655,-3.8004,84.07,68,7,2.37,
99,2454268,Koutiala,ML,-5.4642,12.3917,75.67,18,0,7.70,
105,1267390,Kavaratti,IN,72.6420,10.5669,82.74,67,2,5.26,
107,2446796,Bilma,NE,12.9164,18.6853,76.69,14,0,9.86,
118,1640354,Kencong,ID,113.3667,-8.2833,84.25,70,1,2.28,
151,1263744,Mangrūl Pīr,IN,77.3500,20.3167,76.89,23,0,7.36,
186,2355404,Solenzo,BF,-4.0833,12.1833,76.41,16,1,6.02,
192,3932145,Pisco,PE,-76.2167,-13.7000,77.00,65,0,5.75,
212,2138592,Pouembout,NC,164.9000,-21.1333,85.14,61,9,8.05,
214,2087894,Rabaul,PG,152.1721,-4.1967,82.98,68,2,7.92,
215,2074865,Carnarvon,AU,113.6333,-24.8667,86.00,62,0,4.61,
219,1254046,Tura,IN,90.2201,25.5198,79.88,33,0,1.88,
256,1296736,Shwebo,MM,95.7000,22.5667,81.36,27,0,2.30,
267,286245,Sur,OM,59.5289,22.5667,75.00,45,0,6.71,
315,4013679,Coahuayana Viejo,MX,-103.6833,18.7333,77.00,69,1,1.14,
348,3437935,Itacurubí del Rosario,PY,-56.6833,-24.5000,77.31,45,0,2.42,
409,1648186,Bontang,ID,117.5000,0.1333,84.47,66,0,5.17,
460,1295765,Sittwe,MM,92.9000,20.1500,75.74,41,0,5.17,
520,1586350,Cam Ranh,VN,109.1591,11.9214,80.60,57,0,6.91,
522,3837213,San Juan,AR,-68.5364,-31.5375,75.96,57,4,9.24,
559,2445553,Dogondoutchi,NE,4.0287,13.6393,80.49,22,0,8.77,

In [14]:
for index, row in hotel_df.iterrows():
    try:
        base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

        params = {
        'keyword': 'hotel',
        'radius': 5000,
        'key': g_key,
        }

        latitude = row['Latitude']
        longitude = row['Longitude']

        params['location'] = f"{latitude}, {longitude}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, 'Hotel Name'] = hotel_data['results'][0]['name']
        
    except IndexError:
        
        hotel_df.loc[index, 'Hotel Name'] = "Nan"
        
hotel_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
0,4030556,Rikitea,PF,-134.9692,-23.1203,81.79,70,7,4.79,Pension Bianca & Benoit
9,4020109,Atuona,PF,-139.0333,-9.8000,80.38,65,1,9.84,CHALETS HANAKEE
62,1649150,Bengkulu,ID,102.2655,-3.8004,84.07,68,7,2.37,Mercure Bengkulu
99,2454268,Koutiala,ML,-5.4642,12.3917,75.67,18,0,7.70,"Hotel Le Phenix, Mali"
105,1267390,Kavaratti,IN,72.6420,10.5669,82.74,67,2,5.26,yaad Hotal
107,2446796,Bilma,NE,12.9164,18.6853,76.69,14,0,9.86,Nan
118,1640354,Kencong,ID,113.3667,-8.2833,84.25,70,1,2.28,Dira Hotel
151,1263744,Mangrūl Pīr,IN,77.3500,20.3167,76.89,23,0,7.36,Nan
186,2355404,Solenzo,BF,-4.0833,12.1833,76.41,16,1,6.02,Nan
192,3932145,Pisco,PE,-76.2167,-13.7000,77.00,65,0,5.75,HOSTAL MIRAMAR
212,2138592,Pouembout,NC,164.9000,-21.1333,85.14,61,9,8.05,Eden Appartel Koné
214,2087894,Rabaul,PG,152.1721,-4.1967,82.98,68,2,7.92,Rabaul Hotel
215,2074865,Carnarvon,AU,113.6333,-24.8667,86.00,62,0,4.61,Carnarvon Sea Change Apartments
219,1254046,Tura,IN,90.2201,25.5198,79.88,33,0,1.88,"Dongrama Home Stay, Tura Meghalaya"
256,1296736,Shwebo,MM,95.7000,22.5667,81.36,27,0,2.30,Sann Tin Hotel
267,286245,Sur,OM,59.5289,22.5667,75.00,45,0,6.71,Sur Plaza Hotel
315,4013679,Coahuayana Viejo,MX,-103.6833,18.7333,77.00,69,1,1.14,Hotel Aeropuerto
348,3437935,Itacurubí del Rosario,PY,-56.6833,-24.5000,77.31,45,0,2.42,Nan
409,1648186,Bontang,ID,117.5000,0.1333,84.47,66,0,5.17,Bintang Hotel Sintuk
460,1295765,Sittwe,MM,92.9000,20.1500,75.74,41,0,5.17,Hotel Memory
520,1586350,Cam Ranh,VN,109.1591,11.9214,80.60,57,0,6.91,OYO 598 Peony Hotel
522,3837213,San Juan,AR,-68.5364,-31.5375,75.96,57,4,9.24,Hotel Viñas del Sol
559,2445553,Dogondoutchi,NE,4.0287,13.6393,80.49,22,0,8.77,Hôtel Alheri Maison Alheri

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[['Latitude', 'Longitude']]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))